.textBox {
    user-select: none;
    justify-content: flex-start;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.textBoxLabel {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    font-size: 13px;
}

.textBoxInputWithUnits {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.textBoxInputUnits {
    margin-right: 5px;
}

.textBoxInput {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    border: none;
    font-size: 13px;
    margin: 0 10px;
}

.textBoxInput:focus {
    outline: none;
}

.requiredIcon {
    color: #FF0000;
    margin-left: 3px;
}
