.contactRadio {
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.radioContainer {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default radio button */
.radioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radioCheckmark {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
    background-color: #e4e4e4;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioCheckmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radioCheckmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radioCheckmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #057eff;
}
