.textBoxContainer {
    user-select: none;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    font-size: 13px;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.textBoxLabel {
    margin: 0;
    font-size: 13px;
}

.requiredIcon {
    display: inline-block;
    color: #ff0000;
    margin-left: 3px;
}

.icon {
    margin-left: 7px;
    height: 20px;
    width: 20px;
}

.textBox {
    align-items: center;
    width: 100%;
}

.textBoxInput {
    border: none;
    font-size: 13px;
    padding: 0 10px;
    width: 100%;
}

.textBoxInput:focus {
    outline: none;
}

.textBoxUnits {
    display: flex;
    padding-right: 10px;
    height: 100%;
    vertical-align: center;
    align-items: center;
}

.suffix {
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
