.core-text-box {
    justify-content: flex-start;
    margin: 10px;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
    text-transform: capitalize;

}

.core-text-box-label {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    font-size: 13px;
}

.core-text-box-input-units {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
}

.core-text-box-input {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    border: none;
    font-size: 13px;
    margin-left: 10px;
}

.core-text-box-input:focus {
    outline: none;
}

.core-required-icon {
    color: #FF0000;
    margin-left: 3px;
}
