.tileListTile {
    user-select: none;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    font-family: 'IBM Plex Sans', 'Source Sans Pro', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
}

.tileListTile:hover {
    cursor: pointer;
}

.tileListTile div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tileListTileSegment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lock:hover {
    cursor: pointer;
}

.tileLeft div, .tileLeft svg {
    margin: 0 2px;
}
